In [34]:
import pandas as pd
import numpy as np

np.random.seed()

In [41]:
n = 2000
d = [np.random.randint(0,2) for i in range(n)] # Genera dummies con valor 1 y 0
y_0 = [1 + 0 + np.random.normal(0,0.5,1)[0] for i in range(n)]
y_1 = [1 + 1 + np.random.normal(0,0.5,1)[0] for i in range(n)]


# Crea la base de datos con los valores que tendrían los datos en cada caso.
df = pd.DataFrame({'d': d, 
                'y_0': y_0,
                'y_1': y_1})


df['y'] = np.where(df['d'] == 1, df['y_1'], df['y_0'])
df

      d       y_0       y_1         y
0     1  0.931360  2.613816  2.613816
1     0  1.014322  1.722755  1.014322
2     0  0.932888  2.477828  0.932888
3     0  0.874144  2.204005  0.874144
4     1 -0.186067  2.293268  2.293268
...  ..       ...       ...       ...
1995  0  0.540793  2.418244  0.540793
1996  0  0.429558  1.779841  0.429558
1997  1  1.488144  1.298651  1.298651
1998  0  1.122445  1.797615  1.122445
1999  0  0.785827  1.157067  0.785827

[2000 rows x 4 columns]

Cuando hacemos una estimación de diferencia de medias, nos queda un espacio de sesgo de selección
\begin{equation}
E(Y_i | D_i = 1) - E(Y_i | D_i = 0)
\end{equation}

In [45]:
df[df['d'] == 1]['y'].mean() - df[df['d'] == 0]['y'].mean()

0.9968951587873431

El resultado es diferente que una diferencia de contrafactuales. Es decir, ¿Cuál sería la diferencia si pudiéramos observar el efecto cuando $D_i = 1$ y $D_i = 0$ en la misma persona $i$? Esta diferencia la representamos con 
\begin{equation}
E(Y_{1i} | D_i = 1) - E(Y_{1i} | D_i = 0)
\end{equation}

In [47]:
(df['y_1']-df['y_0']).mean()

0.9895018802546778